<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <sansec_composer_integrity_checker>
                <scan_enable>1</scan_enable>
                <grid_failures_only>0</grid_failures_only>
                <scan_email_notification_enable>0</scan_email_notification_enable>
                <package_ignore_list_enable>0</package_ignore_list_enable>
                <remove_ignored_packages_from_admin_grid>0</remove_ignored_packages_from_admin_grid>
                <remove_ignored_packages_from_admin_notif>0</remove_ignored_packages_from_admin_notif>
                <remove_ignored_packages_from_emails>0</remove_ignored_packages_from_emails>
            </sansec_composer_integrity_checker>
        </system>
    </default>
</config>
