<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <sansec_composer_integrity_checker>
                <scan_enable>1</scan_enable>
                <scan_email_notification_enable>0</scan_email_notification_enable>
            </sansec_composer_integrity_checker>
        </system>
    </default>
</config>
